.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(to left, #BBD6B8, #DBE4C6);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#plantImages {
    width: 200px;
}

.plant-info img {
  max-width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

.plant-details {
  font-size: large;
  width: 200px;
  word-wrap: anywhere;
  padding: 16px;
  box-sizing: border-box;
  vertical-align: center;
}