.App {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px);
  color: white;
}

 img[id^="plantImage_"] {
    width: 200px;
}

.plant-info img {
  max-width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

.plant-container {
  position: relative;
  font-size: large;
  width: 200px;
  word-wrap: anywhere;
  padding: 16px;
  box-sizing: border-box;
  vertical-align: center;
}

.plant-container:hover .plant-info {
  display: block;
}

.img-container {
  position: relative;
  display: inline-block;
}

.plant-container:hover .plant-info {
  opacity: 1;
}

.plant-info {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}

.button{
    background-color: rgb(148, 175, 159);
    color: white;
}

.clickedButton{
    background-color: rgb(38, 77, 0);
    color: white;
}

.xButton{
    background-color: rgb(148, 175, 159);
    color: white;
    vertical-align: 20%;

}

.removeButton{
    background-color: rgb(148, 175, 159);
    color: white;
}

.usersCollection{
    display: inline-block;
    margin:0;
    margin-left: 0;
    padding-left: 0;
}

.overwater-info div {
    max-width: 1200px;
    word-wrap: break-word;
}

.login-page {
  background-image: url("wallpaper.jpg");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(148, 175, 159);
  font-weight: bold;
}

.logged-in {
  background-image: url("wallpaper2.jpg");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(148, 175, 159);
  font-weight: bold;
}

.profile {
    max-width: 35%;
    border-radius: 55%;
    padding: 15px;
}

#profilePage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.5em;
  font-weight: bold;
  background-color: #faffe8;
  color: rgb(148, 175, 159);
  text-align: center;
  height: 120px;
}

.linksButton{
    background-color: transparent;
    border: none !important;
    color: black;
}

.linksButton:hover{
    background-color: transparent;
    border: none !important;
    color: rgb(148, 175, 159);
}

.citations {
      font-size: 0.6em;
      font-weight: bold;
      background-color: #faffe8;
      color: rgb(148, 175, 159);
      text-align: center;
}

.linkedIn {
    max-width: 10%;
    border-radius: 55%;
    background-color: #faffe8;
}

.currentPlantCart{
    font-size: 25px;
    padding: 0px;
}